/* Đặt màu nền và màu chữ cho toàn bộ trang */
body {
    background-color: #f7f7f7; /* Màu nền nhẹ */
    color: #333; /* Màu chữ tối */
}

/* Tùy chỉnh cho container của trò chơi */
#gameContainer {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tăng kích thước và màu sắc cho hiển thị từ */
#wordDisplay {
    color: #5a5a5a;
    font-size: 28px; /* Tăng kích thước chữ */
    margin-bottom: 30px;
}

/* Tùy chỉnh cho phần nhập chữ cái của người dùng */
#userGuess {
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 18px; /* Tăng kích thước phông chữ */
    padding: 8px; /* Tăng khoảng cách giữa viền và chữ */
}

/* Tùy chỉnh cho các nút */
button {
    background-color: #5cb85c; /* Màu nền xanh lá */
    color: white; /* Màu chữ trắng */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Tăng kích thước chữ trên nút */
    padding: 10px 20px; /* Tăng khoảng cách giữa nút và chữ */
}

/* Hiệu ứng khi di chuột qua nút */
button:hover {
    background-color: #449d44; /* Màu nền đậm hơn khi di chuột qua */
}

/* Tùy chỉnh cho nút reset khi hiển thị */
#resetButton {
    background-color: #d9534f; /* Màu nền đỏ */
}

/* Hiệu ứng cho nút reset khi di chuột qua */
#resetButton:hover {
    background-color: #c9302c; /* Màu nền đậm hơn khi di chuột qua */
}
